.service__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}
.service__container h3 {
  text-align: center;
  color: var(--color-primary);
  font-size: 1.2rem;
  font-weight: bold;
}
.service__item {
  background: var(--color-bg-variant);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}
.service__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}
.service__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}
.serice-icon img {
  width: 50px;
  margin: 0 auto;
}
.icon {
  font-size: 3em;
  line-height: 1;
}
.service__item h3 {
  margin: 1.2rem 0 2rem;
}
.service__item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
.service__item-cta p {
  line-height: 1.2rem;
}

/*========= MEDIA QUERIES(medium device)*/

@media screen and (max-width: 1024px) {
  .service__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/*========= MEDIA QUERIES(small device)*/
@media screen and (max-width: 600px) {
  .service__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
